body {
    list-style: none;
    margin-left: 5%;
}

header {
    padding: 30px 4% 10px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.shop_title {
    margin: 0;
    padding: 0;
    color: blue;
}

.shop_search ul {
    list-style: none;
    margin: 0px 0px 0px 310%;
    display: flex;
}

.shop_box li {
    font-size: 12px;
    display: inline-block;
    margin-left: 5%;
}

h3 {
    margin-left: 5%;
}

.shop_detail {
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 1%;
    margin-left: 5%;
}

.shop_box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    margin: 1%;
}

img
 {
    width: 10%;
 }
