body {
    list-style: none;
    margin-left: 5%;
}


.select_area {
    display: inline-block;
    position: relative;
    border: 1px solid #eee;
    vertical-align: middle;
}

.select_area select {
    appearance: none;
    width: 300px;
    padding: 11px 15px;
    padding-right: 1em;
    border: none;
    outline: 0;
    background: #fff;
    background-image: none;
    box-shadow: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select_area::before {
    position: absolute;
    top: 18px;
    right: 16px;
    width: 0;
    height: 0;
    border-width: 10px 5px 0 5px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
    content: "";
    pointer-events: none;
}

header {
    padding: 30px 4% 10px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.shop_title {
    margin: 0;
    padding: 0;
    color: blue;
}

.shop_search ul {
    list-style: none;
    margin: 0px 0px 0px 310%;
    display: flex;
}

.shop_box li {
    font-size: 12px;
    display: inline-block;
    margin-left: 5%;
}

h3 {
    margin-left: 5%;
}

.shop_detail {
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 1%;
}

.shop_box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    margin: 1%;
}
